
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
   -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body>
        <ul class="nav nav-tabs" style="padding: 15px; background-color: lightsteelblue">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="scss/about_dac.html">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="scss/institute_detail.html">Institute Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <div class="container-fluid" style="padding: 5px">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="images/courses.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ABOUT PGDAC</h5>
                            <p class="card-text">Centre for Development of Advanced Computing (C-DAC) is the premier R&D organization of the Ministry of Electronics and Information Technology (MeitY) for carrying out R&D in IT, Electronics and associated areas.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/university-college.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/students" style="text-decoration: none">INSTITUTE</a></h5>
                            <p class="card-text">Ckeck out all the premium institutes who offering DAC couse.Ckeck out all the premium institutes who offering DAC couse.
                            Ckeck out all the premium institutes who offering DAC couse.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/bungalow-.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ACCOMODATION</h5>
                            <p class="card-text">Find broker free, transparent, well equiped residential facilities for both male and female candidate as well.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/hospital-building.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/hospitals" style="text-decoration: none">HOSPITAL</a></h5>
                            <p class="card-text">Check out the best doctors and consultants around you. Check out the best doctors and consultants around you.Check out the best doctors and consultants around you </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/kitchen.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MESS/CANTEEN</h5>
                            <p class="card-text">Find out the best canteen based on service, variety of food, quality of food and feedback-rating .</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/books-avif.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">COURSE-CONTAINT</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional contenT.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/college-university-students-group.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">STUDENT COMMUNITY</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/about-us.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ABOUT US</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div style="padding: 20px ; background-color: lightsteelblue;text-align: center;color: yellow">@copyright</div>

    </body>
</html>
